body{
    background-color: #F2E9E1;
    margin: 0;
    height: 1005;
}
p, li{
    color:#505460;
    font-size:14px;
}
h1{
    font-family: 'IBM Plex Sans Thai Looped', sans-serif;
    font-size: 20px;
    color:#505460;
    margin-top: 26px;
}
header{
    display:flex;
    flex-direction: row-reverse;
    padding-left: 10px;
    padding-right: 10px;
    background-color: #C4A7E7;
}
.index.nav{
    width: 175px;
    height: auto;
}
.topnav{
    list-style:none;
    display:flex;
    flex-direction: row;
    justify-content: space-around;
}
a{
    color:#232136;
    text-decoration: none;
    font-size: 18px;
    padding: 16px 16px;
}
a:hover{
    background-color:#232136;
    color:#F2E9E1;
}
a:visited{
    text-decoration: underline;
}
footer{
    position:fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
}
.new_note{
    color: #505460;
    border: none;
    background-color: #F2E9E1;
    text-align: center;
    font-size: 32px;
    margin: 4px 2px;
    padding: 8px;
    border-radius: 50%;
}
.new_note:hover{
    background-color: #C4A7E7;
    color: #F2E9E1;
}
.container-main{
    margin: auto;
    width: 20%;
    padding-top: 50px;
    padding-right: 40%;
}
.open_nav{
    color: #505460;
    border: none;
    background-color: #F2E9E1;
    font-size: 35px;
}
.open_nav:hover{
    background-color: #505460;
    color: #F2E9E1;
}

.area-note{
    margin:auto;
    width: 100%;
    display: flex;
    align-items: center;
}
.note_button_div{
    width: 25%;
    float: left;
}

.title_button_div{
    margin-left: 10%;
}

textarea{
    background-color: #F2E9E1;
    border: none;
    outline: none;
    color: #232136;
    resize: none;
    width: 500px;
}

.side_nav{
    height: 100%;
    width: 240px;
    position: fixed;
    display: flex;
    flex-direction: column;
    top: 0;
    left: 0;
    margin-top: 50px;
    background-color: #C4A7E7;
}
.side_nav li{
    color:#232136;
    font-size: 18px;
    padding: 5px;
    padding-left: 15%;
    text-decoration: none;
    display: block;
    list-style: none;
}

.side_nav h1{
    padding-left: 25%;
    font-size: 25px;
    font-weight: bold;
    color: #505460;
}
.side_nav .open_nav{
    background-color: #C4A7E7;
    margin-left: 70%;
}
#note_buttons{
    float:right;
}
.save_delete{
    color: #232136;
    border: none;
    background-color: #C4A7E7;
}
.save_delete:hover{
    color:#F2E9E1;
    background-color:#232136;
    
}


@media screen and (max-width:600px){
    h1,p,a{
        font-size: 12px;
    }
    .container-main{
        display: flex;
        justify-content: center;
        padding-left: 150px;
    }
    .container-main h1{
        margin: 30px 20px;
        white-space: nowrap;
    }
    .index.nav{
        width: 50%;
    }
    .note_button{
        font-size: 14px;
    }
    .side_nav{
        width: 20%;
        margin-top: 45px;
    }
    .side_nav li{
        padding-left: 5px;
        font-size: 12px;
        list-style: none;
    }
    .side_nav h1{
        padding-left: 10%;
        font-size: 14px;
    }
    ul{
        padding-left: 0;
        width: 100px;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    ::placeholder{
        font-size: 12px;
    }
    .side_nav .open_nav{
        font-size: 22px;
        margin-left: 0px;
    }

    textarea{
        width: 200px;
    }
}